#container
{
margin: 0 auto;
width:1000px;
height: 350px;
}

#header
{
  height: 70px;
  width: 900px;
  text-align: center;
  background-color: #999;
  margin-bottom: 10px;
}

.box
{

height: 81px;
width: 81px;
background-color: #999;
float: left;
margin: 10px 10px 10px 0;
color: #999;
}

.clear
{
    clear: both;
}

#footer
{
  height: 30px;
  width: 900px;
  text-align: center;
  background-color: #999;
  float: left;;
  margin-top: 10px;
}
